---
import Layout from "@layouts/Layout.astro";
import BoardList from "@components/BoardList.astro";
import BoardListo from "@components/BoardListo";
import * as tables from "@db/schema.ts";
import { db } from "@db/drizzle.ts";

//const boards = await db.select().from(boardsTable);
//console.log(boards);
---

<Layout title="Boards">
    <div class="p-4">
        <BoardList />
        <BoardListo client:load />
    </div>
</Layout>
