---
import Layout from "../../layouts/Layout.astro";
import ColorCard from "../../components/ColorCard.astro";
import ItemList from "../../components/ItemList.astro";

import { db } from "../../db/drizzle.ts";
import { boards as boardsTable } from "../../db/schema.ts";

//const boards = await db.select().from(boardsTable);
//console.log(boards);
---

<Layout title="Boards">
    <div class="p-4">
        <ItemList />
    </div>
</Layout>
