---
import { db } from "@db/drizzle.ts";
import * as tables from "@db/schema.ts";
const boards = await db
    .select({
        id: tables.boards.id,
        name: tables.boards.name,
        isActive: tables.boards.isActive,
    })
    .from(tables.boards);
// const boards = [
//     { id: 1, name: "Board One", isActive: true },
//     { id: 2, name: "Board Two", isActive: false },
//     { id: 3, name: "Board Three", isActive: true },
// ];
---

<div
    class="not-prose relative overflow-hidden rounded-xl bg-[color:var(--ek-lightGreen)]"
>
    <div
        style="background-position:10px 10px"
        class="bg-grid-slate-100 dark:bg-grid-slate-700/25 absolute inset-0"
    >
    </div><div class="relative overflow-auto rounded-xl">
        <div class="my-8 overflow-hidden shadow-sm">
            <table class="w-full table-auto border-collapse text-sm">
                <thead>
                    <tr>
                        <th
                            class="border-b p-4 pb-3 pl-8 pt-0 text-left font-medium text-[color:var(--ek-black)]"
                            >Id</th
                        >
                        <th
                            class="border-b p-4 pb-3 pt-0 text-left font-medium text-[color:var(--ek-black)]"
                            >Name</th
                        >
                        <th
                            class="border-b p-4 pb-3 pr-8 pt-0 text-left font-medium text-[color:var(--ek-black)]"
                            >IsActive</th
                        >
                    </tr>
                </thead>
                <tbody class="bg-white dark:bg-slate-800">
                    {
                        boards.map((board, index) => (
                            <tr>
                                <td class="border-b border-slate-100 p-4 pl-8 text-[color:var(--ek-black)]">
                                    {board.id}
                                </td>
                                <td class="border-b border-slate-100 p-4 text-[color:var(--ek-black)]">
                                    {board.name}
                                </td>
                                <td class="border-b border-slate-100 p-4 pr-8 text-[color:var(--ek-black)]">
                                    {board.isActive ? "Active" : "Inactive"}
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="pointer-events-none absolute inset-0 rounded-xl border border-black"></div>
</div>
