---
import ItemListCV from "./ItemListCV.astro";
interface Props {
    items: {
        id: string;
        name: string;
        columnValues: any;
    };
}
const { items } = Astro.props;
---

{
    items.map((item) => (
        <tr key={item.id}>
            <td class="border-b border-slate-100 p-4 pl-8 text-[color:var(--ek-black)] dark:border-slate-700 dark:text-slate-400">
                {item.id}
            </td>
            <td class="border-b border-slate-100 p-4 text-[color:var(--ek-black)] dark:border-slate-700 dark:text-slate-400">
                {item.name}
            </td>
            <ItemListCV columnValues={item.columnValues} />
        </tr>
    ))
}
