---
import { db } from "@db/drizzle";
import ItemListCV from "./ItemListCV.astro";
import { eq } from "drizzle-orm";
import * as tables from "@db/schema";

interface Props {
    boardId: number
}
const { boardId } = Astro.props;

const items = await db.query.items.findMany({
    where: eq(tables.items.boardId, boardId),
    columns: {
        id: true,
        boardId: true,
        name: true
    },
    with: {
        columnValues: {
            columns: {
                id: true,
                value: true,
                columnId: true
            }
        }
    }
})

---

{
    items.map((item) => (
        <tr>
            <td class="border-b border-slate-100 p-4 pl-8 text-[color:var(--ek-black)] dark:border-slate-700 dark:text-slate-400">
                {item.id}
            </td>
            <td class="border-b border-slate-100 p-4 text-[color:var(--ek-black)] dark:border-slate-700 dark:text-slate-400">
                {item.name}
            </td>
            <ItemListCV columnValues={item.columnValues} />
        </tr>
    ))
}
