---
import ItemListRows from "./ItemListRows.astro";
import { db } from "../db/drizzle.ts";
import * as tables from "../db/schema.ts";
import { eq } from "drizzle-orm";

interface Props {
    board: {
        id: number;
        name: string;
        columns: {
            id: number;
            name: string;
        }[];
    }
};

const { board } = Astro.props;

/*
const boards = [
    {
        id: 1,
        name: "Board One",
        items: [
            {
                id: 101,
                name: "Item One",
                columnValues: [
                    {
                        id: 201,
                        value: "Value 1",
                        column: { id: 301, name: "Column One" },
                    },
                    {
                        id: 202,
                        value: "Value 2",
                        column: { id: 302, name: "Column Two" },
                    },
                    {
                        id: 203,
                        value: "Value 3",
                        column: { id: 301, name: "Column Four" },
                    },
                ],
            },
            // More items...
        ],
    },
    // More boards...
];
*/
---

<div
    class="not-prose relative overflow-hidden rounded-xl bg-[color:var(--ek-lightGreen)]"
>
    <div
        style="background-position:10px 10px"
        class="bg-grid-slate-100 dark:bg-grid-slate-700/25 absolute inset-0"
    >
    </div>
    <div class="relative overflow-auto rounded-xl">
        <div class="my-8 overflow-hidden shadow-sm">
            <table class="w-full table-auto border-collapse text-sm">
                <thead>
                    <tr>
                        <th
                            class="border-b p-4 pb-3 pl-8 pt-0 text-left font-medium text-[color:var(--ek-black)]"
                            >Id</th
                        >
                        <th
                            class="border-b p-4 pb-3 pt-0 text-left font-medium text-[color:var(--ek-black)]"
                            >Name</th
                        >
                        {board.columns.map((column, index) => (
                            <th class="border-b p-4 pb-3 pt-0 text-left font-medium text-[color:var(--ek-black)]">
                                {column.name}
                            </th>
                        ))}
                    </tr>
                </thead>
                <tbody class="bg-white">
                    <ItemListRows boardId={board.id} />
                </tbody>
            </table>
        </div>
    </div>
    <div class="pointer-events-none absolute inset-0 rounded-xl border border-black/5"></div>
</div>
