---
interface Props {
    columnValues: {
        id: number;
        value: string | null;
        columnId: number
    }[];
}

const { columnValues } = Astro.props;
---

{columnValues.map((columnValue, index) => (
    <td class="border-b border-slate-100 p-4 text-[color:var(--ek-black)]">
        {columnValue.value}
    </td>
))}
